

@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  margin: 0;
  font-family: sans-serif;
  color: #333;
  line-height: 140%;
  width: 980px;

}

.main {
  
  margin: 0 auto;
  padding: 0 20px;
}

.browsehappy {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 1em;
    background: black;
    color: white;
    text-align: center;
}

img {
  border: none;
}

p
 {
    font-family: 'Roboto', sans-serif;
}

 {
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.aligncenter {
  text-align: center;
}


a {
    color: #2098D1;
    text-decoration: none;
}

.footer a:hover,
.tutorial:hover {
    color: #207AD1;
}

.tutorial {
  display: inline-block;
  font-size: .8em;
  font-weight: bold;
}

.tutorial:hover,
.tutorial:focus,
.tutorial:active {
  text-decoration: none;
}

.intro {
  max-width: 680px;
  margin: 20px auto 0 auto;
}

.button.cta {
  display: inline-block;
  position: relative;
  margin: 1.2em 0 1em 0;
  padding: 1em;
  background: #dbae58;
  border: none;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

.effects {
  margin-top: 6em;
  height: 250px;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  margin-top: 2em;
}

h3 {
  margin: 0;
}
